<%= form_with model: @message do |form| %>
    <div class="field">
        <div class="control">
            <%= form.text_area :body, placeholder: "Type a message...", class: "textarea" %>
        </div>
    </div>
    <div class="field">
        <%= form.button class: "button is-primary" do %>
            <span>Send</span>
            <span class="icon"><i class="fas fa-paper-plane"></i></span>
        <% end %>
    </div>
<% end %>